# Tabular models

In [ ]:
from fastai.tabular import *

optionally write a custom proc parameter

In [ ]:
# @dataclass
# class MyFillMissing(FillMissing):
#     fill_strategy:FillStrategy=FillStrategy.CONSTANT
#     add_col:bool=True
#     fill_val:float=0.

imported tabular data should be converted to a pandas DataFrame. optionally clean up column headers by converting to lc and underscores

In [125]:
path = Path('/home/ubuntu')
df = pd.read_csv('adult.csv')
# df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,>=50k
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,>=50k
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<50k
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>=50k
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,<50k

* dep_var is the dependant variable we are trying to predict
* cat_names are categorical names
* cont_names are continuous values

In [115]:
dep_var = 'marital-status'
cat_names = ['workclass', 'salary', 'occupation', 'race', 'relationship', 'education']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]

In [129]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(1,64)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [131]:
data.show_batch(rows=10)

In [132]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [133]:
learn.fit(1, 1e-2)

## Inference

In [134]:
row = df.iloc[0]

In [142]:
result = learn.predict(row)
result[0]
# result

Category  Married-civ-spouse